{% extends 'home/layout.html' %}
  {% load static %}
  {% block css %}
    <!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'home/app.css' %}">
<title>Donor Form</title>

  {% endblock %}
{% block body %}
  <section class="donor" id="donor" >
    <div class="container mb-5 mt-5">
        <h1>DONOR REGISTRATION FORM</h1>
        <div class="card" style="width: 50rem; margin: 0 auto;">
            <div class="card-body">
                <form action="/contact-us" method="POST">
                    <div class="form-group row">
                      <div class="col-12 col-md-2 col-form-label">
                        <label for="name" class="col-form-label">Name:</label>
                      </div>
                      <div class="col-12 col-md-10 pt-2">
                        <input  required type="text" class="form-control" id="name">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-12 col-md-2 col-form-label">
                        <label for="phone" class="col-form-label">Mobile:</label>
                      </div>
                      <div class="col-12 col-md-10 pt-2">
                        <input required type="tel" class="form-control" id="phone">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-12 col-md-2 col-form-label">
                        <label for="age" class="col-form-label">Age:</label>
                      </div>
                      <div class="col-12 col-md-10 pt-2"> <input required type="number" class="form-control" id="age">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-12 col-md-2 col-form-label">
                        <label for="Address" class="col-form-label">Address:</label>
                      </div>
                      <div class="col-12 col-md-10 pt-2">
                        <input required type="text" class="form-control" id="Address">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-12 col-md-2 col-form-label">
                        <label for="city" class="col-form-label">City:</label>
                      </div>
                      <div class="col-12 col-md-10 pt-2">
                        <input required type="text" class="form-control" id="city">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-12 col-md-2 col-form-label">
                        <label for="blood" class="col-form-label">Blood Group:</label>
                      </div>
                      <div class="col-12 col-md-10 pt-2">
                        <input required type="text" class="form-control" id="blood">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-12 col-md-4 col-form-label">
                        <label for="covid" class="col-form-label">Sex:</label>
                      </div>
                      <div class="col-12 col-md-8 pt-3">
                        <div class="custom-control custom-radio custom-control-inline">
                          <input class="custom-control-input" required type="radio" name="sex" id="male" value="male">
                          <label class="custom-control-label" for="male">Male</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input class="custom-control-input" required type="radio" name="sex" id="female" value="female">
                          <label class="custom-control-label" for="female">Female</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input class="custom-control-input" required type="radio" name="sex" id="other" value="other">
                          <label class="custom-control-label" for="other">Others</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-12 col-md-4 col-form-label">
                        <label for="covid" class="col-form-label">Did you ever get Covid:</label>
                      </div>
                      <div class="col-12 col-md-8 pt-3">
                        <div class="custom-control custom-radio custom-control-inline">
                          <input class="custom-control-input" required type="radio" name="covid" id="yes" value="yes">
                          <label class="custom-control-label" for="yes">Yes</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input class="custom-control-input" required type="radio" name="covid" id="no" value="no">
                          <label class="custom-control-label" for="no">No</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-12 col-md-4 col-form-label">
                        <label for="date" class="col-form-label">Date of Screening:</label>
                      </div>
                      <div class="col-12 col-md-8 pt-2">
                        <input required type="date" class="form-control" id="date">
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-12 col-md-4 col-form-label">
                        <label for="covid" class="col-form-label">Are you willing to donate Plasma:</label>
                      </div>
                      <div class="col-12 col-md-8 pt-3">
                        <div class="custom-control custom-radio custom-control-inline">
                          <input class="custom-control-input" required type="radio" name="plasma" id="ye" value="ye">
                          <label class="custom-control-label" for="ye">Yes</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                          <input class="custom-control-input" required type="radio" name="plasma" id="n" value="n">
                          <label class="custom-control-label" for="n">No</label>
                        </div>
                      </div>
                    </div>
                    <input class="btn servicc" type="submit" value="Submit">
                </div>
            </form>
          </div>
        </div>
      </div>
  </section>

  {% endblock %}
